{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="mb-4"><i class="fa-solid fa-user me-2"></i>Mes informations</h2>

        <ul class="list-group mb-4">
            <li class="list-group-item"><i class="fa-solid fa-user me-2"></i>Prénom : {{ app.user.firstName }}</li>
            <li class="list-group-item"><i class="fa-solid fa-user me-2"></i>Nom : {{ app.user.lastName }}</li>
            <li class="list-group-item"><i class="fa-solid fa-envelope me-2"></i>Email : {{ app.user.email }}</li>
            <li class="list-group-item"><i class="fa-solid fa-phone me-2"></i>Téléphone : {{ app.user.phoneNumber }}</li>
        </ul>

        <a href="{{ path('app_profile_edit') }}" class="btn btn-primary w-100">
            <i class="fa-solid fa-pen me-1"></i> Modifier mes informations
        </a>
        <br>
        <div class="text-center mt-3">
            <a href="{{ path('app_profile_orders') }}" class="btn btn-secondary mt-2"">
                <i class="fa-solid fa-box me-1"></i> Mes commandes
            </a>
        </div>
        <div class="text-center">
            <a href="{{ path('app_profile_addresses') }}" class="btn btn-secondary mt-2">Mes adresses de livraison</a>
        </div>
    </div>
</div>
{% endblock %}
