{% extends 'base.html.twig' %}

{% block title %}Vos Adresses de Livraison{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Liste de vos Adresses de Livraison</h1>

        <table class="table table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro de Téléphone</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td>{{ address.type }}</td>
                    <td>{{ address.name }}</td>
                    <td>{{ address.firstName }}</td>
                    <td>{{ address.phoneNumber }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.cp }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.country }}</td>
                    <td>
                        <a href="{{ path('app_profile_edit_address', {'id': address.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune Adresse trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_profile_new_address') }}" class="btn btn-primary">Nouvelle Adresse de Livraison</a>
        <br>
        <a href="{{ path('app_profile') }}" class="btn btn-secondary mt-2">Retour à votre profil</a>
    </div>
{% endblock %}
